.theme_toggler {
    background: var(--primary-color);
    z-index: 999999999;
    left: 100px;
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 10px;
}

.theme_toggler svg {
    width: 2em;
    height: 2em;
}


.icon-animation {
    animation: spin 2s linear infinite; /* Adjust the duration and other properties as needed */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  